.sidebar-user-img-div {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.sidebar-user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
